.ant-pagination .ant-pagination-item-active {
    border-color: #74759b !important;
    a {
        color: #74759b !important;
    }
}

.ant-pagination .ant-pagination-item-active:hover {
    border-color: rgb(213, 136, 110) !important;
    a {
        color: rgb(213, 136, 110) !important;
    }
}
