@import '../../styles/base.scss';

.box {
  color: $textColor;
  height: $topTitleHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  width: $layoutWidth;
  margin: 0 auto;

  .title {
    font-size: $text_h_medium;
    font-weight: 700;
    text-shadow: 4px 4px 10px $footerBg;
  }

  .desc {
    font-size: $text_t_meduim;
  }
}

@media screen and (max-width: 1240px) {
  .box {
    width: 100vw;

    .title {
      font-size: 40rem;
      text-shadow: 4rem 4rem 10rem $footerBg;
    }

    .desc {
      font-size: 22rem;
    }
  }
}



/* Cursor */
// 特定css 防止被webpack模块化命名
:global(.typed-cursor) {
  font-size: $text_t_meduim;
  font-weight: 700;
  text-shadow: 4px 4px 10px $footerBg;
  padding-left: 5px;
}

/* If fade out option is set */
:global(.typed-fade-out) {
}