@import '../../styles/base.scss';

.main {
  min-height: calc(100vh - #{$footerHeight + 2 * $space});
  background-color: rgb(234,234,234);
  .center {
    margin: auto;
    width: 100%;
    height: 100%;

  }
}

@media screen and (max-width: 1240px) {
  .main {
    min-height: calc(100vh - 70rem - 20rem);

    .center {
      width: 100vw;
    }
  }
}
