@import "../../styles/style.scss";
@import "../../styles/base.scss";

//  ---------- FixButton ----------

$button_size_small: 26px;
$button_size_medium: 32px;
$button_size_small: 36px;

._baseButton {
  height: $button_size_medium;
  min-width: calc($button-size-medium / 0.618);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text_t_large;
  font-weight: $text_weight_semibold;
  color: white;
}

.plain {

    @extend ._baseButton
}


//  ---------- FixImage ----------

._fixImageContainer {
    display: flex;
    height: 100%;
    width: 100%;
    background-size: cover;  // 可以使用cover
    background-position: center; //背景图片居中显示，让多余部分相对容器对此展示
    background-repeat: no-repeat;
    background-origin: border-box; //从border开始填充
    background-clip: border-box;  //border外的多余背景图片不展示，截取掉，   
}

._fixImageContainerV2 {
    display: flex;
    height: 100%;
    width: 100%;
    background-size: cover;  // 可以使用cover
    background-position: center; //背景图片居中显示，让多余部分相对容器对此展示
    background-repeat: no-repeat;
    background-origin: border-box; //从border开始填充
    background-clip: border-box;  //border外的多余背景图片不展示，截取掉，   
}

._lazy {
    background-image: none;
}

// ---------- FixWaterFall ----------
._virtual {
    display: none;
    @extend .trans
}

._waterFallItem {
    
}

.grid {
    width: 100%;
}
/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-left: 5vw;
    justify-content: space-around;
    align-items: flex-start;
}

// 可以利用meta属性做一个响应式，比如屏幕宽度超过多宽就显示5列，屏幕宽度为多宽就显示4列
.flex-column {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 10px;
}

.flex-column-ele {
    img {
        width: 100%;
        max-height: 500px;
        object-fit: contain;
    }

    padding: 5px;
    margin: 5px;
    background-color: #f8f5f5;
    border-radius: 5px;
    box-shadow: 2px 5px 5px 0px #f3f3f3;
}

